.root {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px 15px;

    // background-image: url('/images/logo.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;
}